@import "./libs/reset.css";
@import "./libs/touches.css";
@import "./libs/ecran.css";

body {
  background-color: #4e4949;
}

.calculette {
  width: 250px;
  margin: 0 auto;
  padding: 5px;
  margin-top: 100px;
  border-radius: 10px;
  background-color: #241a1a;
  border: 1px solid #efeeee;
  box-shadow: 2px 2px 5px;
}
